./PlatformIO-Projects/NaturWagenNode/.pio
./PlatformIO-Projects/NaturWagenNode/.vscode/.browse.c_cpp.db*
./PlatformIO-Projects/NaturWagenNode/.vscode/c_cpp_properties.json
./PlatformIO-Projects/NaturWagenNode/.vscode/launch.json
./PlatformIO-Projects/NaturWagenNode/.vscode/ipch